body {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  margin: 0;
  background-color: #73f24b;
}

button {
    cursor: pointer;
}

// header {
//   background: teal;
//   padding: 1rem 5vw;
// }

header a {
  color: white;
  font-weight: 800;
  text-decoration: none;
}

main {
  margin: 4rem auto 6rem;
  max-width: 650px;
  width: 90vw;
  margin-top: 6em;

    /* display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 3rem; */
}

.products {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 3rem;
}

.product img {
   max-width: 100%;
}

.product a {
  display: block;
}

.product form {
   align-items: baseline;
   display: grid;
   gap: 0.5rem;
   grid-template-columns: 70px 50px 1fr;
}

.product input {
   border: 1px solid teal;
   border-radius: 0.25rem;
   font-size: 1.125rem;
   line-height: 1.25rem;
   padding: 0.25rem;
}

.product button {
   background: teal;
   border: none;
   border-radius: 0.25rem;
   color: white;
   font-size: 1.25rem;
   font-weight: 800;
   line-height: 1.25rem;
   padding: 0.25rem;
}

.single-product img {
  max-width: 22em;
}

.logo {
    margin-left: 25vw;
    width: 50vw;
    margin-top: 70px;
}

.logo img {
    max-width: 100%;
}

// ------------------- cart stuff ---------------
#menu {
  padding: 0 1em;
  border-bottom: 1px solid black;
  text-align: right;
  background-color: #73f24beb;
  // background-color: #8e5626b5;

  z-index: 1;

  position: fixed;
  top: 0;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  & > a {
    display: inline-block;

    img {
      max-width: 4em;
    }
  }
}

#cart-icon-container {
  display: inline-block;
  padding: 1em;
  border-bottom: 1px solid black;
  text-align: right;
  border-bottom: none;

  a {
      text-decoration: none;
  }

  #cart-icon {
    display: inline-block;
    margin-right: 2em;
  }
}

#cart-page {
  padding: 0;
  list-style: none;

  img {
    max-width: 6em;
    margin-right: 2em;
  }

  li {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    border: 1px solid black;
    padding: 0.5em;

    .item-controls {
      > * {
        margin-right: 1em;
      }
    }
  }

  button {
    color: transparent;
    background-color: transparent;
    border: none;
    position: relative;
    top: 5px;
    transition: all 0.2s;

    &:hover {
      svg {
        color: pink;
        stroke: pink;
        fill: pink;
        border: 4px solid pink;
      }
    }

    svg {
      position: relative;
      top: 2px;
    }
  }
}

#cart-totals {
  text-align: right;
}

// ------ copy pasted from the cart repo ------------
#cart-icon-icon {
    position: relative;
    top: 7px;
}

#cart-quantity {
    position: relative;
    left: 20px;
    bottom: 17px;
}
// --------------------------------------

body.cart-page {
  hr {
    border-style: dashed;
  }
  h2 {
    display: inline-block;

    a {
      text-decoration: none;
    }
  }

  // #cart-page {
  //   // margin-bottom: 2em;
  // }

  .cart-controls {
    text-align: right;
    margin-top: 2em;

    a.shop {
      border: 4px solid black;
      text-decoration: none;
      padding: 0.5em;

      &:hover {
        text-decoration: underline;
      }
    }

    a.buy {
      border: 4px solid black;
      text-decoration: none;
      padding: 0.5em;
      transition: all 0.2s;

      &:hover {
        border-color: pink;
        background-color: beige;
      }
    }
  }
}

// -------------#buy-page------------------------

#buy-page {
  #shipping {
    padding: 1em;
    background-color: white;
  }

  #card-element {
    background-color: white;
    padding: 1em;
    margin-top: 2em;
  }

  form {
    .form-controls {
      text-align: right;
      margin-top: 2em;
    }

    .form-group {
      margin-bottom: 1em;
      display: flex;
      flex-flow: column-reverse;
      color: #2f2f2f;

      label {
        transition: all 0.2s;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        cursor: text;
        max-width: 66.66%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        transform-origin: left bottom;
        background-color: white;

        padding-left: .01em;

      }
    }

    input:placeholder-shown {
      + label {
        // make it bigger and in the center
        transform: translate(0, 2.125rem) scale(1.5);
      }
    }

    input {
      border: none;
      border-bottom: 1px solid black;
      padding: 1em;

      &.has-focused {
        &:invalid {
          border-color: red;
          border-width: medium;
        }
      }

      &:focus {
        border-color: blue;
        border-width: medium;
        outline: none;

        + label {
          // make it small and at the top
          transform: translate(0, 0) scale(1);
          color: black;

          &:before {
            content: " "!important;
          }
        }
      }

      &:valid {
        + label {
          &:before {
            content: " "!important;
          }
        }
      }

      &:required {
        + label {
          &:before {
            content: "* ";
          }
        }
      }

    }
  }
}

// ------------------------------------------
